body {
    background-color: black;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    .wrapper {
        .fields__container {
            display: flex;
            flex-direction: column;
            gap: 1px;

            .fields__row {
                display: flex;
                flex-wrap: wrap;
                gap: 1px;

                .field {
                    width: 25px;
                    height: 25px;
                    
                    border-radius: 3px;
                }

                .empty {
                    background-color: grey;
                }

                .apple {
                    background-color: red;
                }

                .zmeika {
                    background-color: yellow;
                }
            }
        }
    }
}
