body {
    background-color: black;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    margin: 0;
    padding: 0;

    user-select: none;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .arrows__container {
            width: 230px;
            height: 200px;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 10px;

            .arrow {
                background-color: #4b82ce;
                box-shadow: 0 4px #3657ff;

                border: 0;
                border-radius: 10px;

                margin: 0;
                padding: 0;

                font-size: 30px;

                &:active {
                    box-shadow: 0 0;
                }

                &:focus {
                    outline: 0;
                }
            }

            .ArrowUp {
                grid-column-start: 2;
            }
            .ArrowLeft {
                grid-column-start: 1;
                grid-row-start: 2;
            }
            .ArrowRight {
                grid-column-start: 3;
                grid-row-start: 2;
            }
            .ArrowDown {
                grid-column-start: 2;
                grid-row-start: 3;
            }
            .restart {
                display: none;
            }
        }

        @media (min-width: 800px) {
            .arrows__container {
                display: none;
            }
        }

        .fields__container {
            display: flex;
            flex-direction: column;
            gap: 1px;

            .fields__row {
                display: flex;
                gap: 1px;

                .field {
                    width: 30px;
                    height: 30px;

                    border-radius: 3px;
                }

                @media (max-width: 500px) {
                    .field {
                        max-width: 20px;
                        max-height: 20px;
                    }
                }

                .empty {
                    background-color: grey;
                }

                .apple {
                    background-color: red;
                }

                .zmeika {
                    background-color: yellow;
                }
            }
        }
    }
}
